// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	padding-top: 40px;
}
.admin{
	display:none;
}
.alert{
	margin-top:20px;
}
.content{
width:27%;
}
.col-md-1 img{
	margin-bottom: 6px;
}
.field{
	margin-bottom: 15px;
}
.move{
	margin-top:15px;
}
.status{
	border-bottom:solid 1px #CCC;
	 margin-bottom: 6px;
}
.status p{
	margin: 0px 0;
}

.status:hover .admin{
	display:inline-block;
} .btn{
  margin-top: -10px;
  margin-bottom: 15px;
}
.well{
	width:400px
}

#notice{
	margin-top:8px;
}